@model List<WebAppVet.Models.Pieza>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <span>Codigo</span> <span>@item.Id</span>
    <span>Nombre</span> <span>@item.Nombre</span>
}